h1{
  font-family: monospace;
  color: #36abef;
}
h2{
  font-family: monospace;
  color: #662fad;
}
p{
  font-family: monospace;
  color: #ccc;
  font-size: 150%;
}
ul{
  list-style-type: circle;
  font-size: 150%;
  font-family: monospace;
  color: #ccc;
}

li{
  margin-bottom: 1ch;
}

.header {
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-demo {
  background-color: #c95410;
  width: 10ch;
  animation: typing 3s steps(10), blink .5s step-end infinite alternate;  
  white-space: nowrap;
  overflow: hidden;
  border-right: 1ch solid;
  font-family: monospace;
  font-size: 3em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  0% {
    border-color: #121212;
  }
  50% {
    border-color: #36abef;
  }
}

.tab {
  overflow: hidden;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: #99d05f;
  font-family: monospace;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #662fad;
  font-size: 150%;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #662fad;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
} 

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.tabcontent button {
  background-color: #99d05f;
  font-family: monospace;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 16px;
  transition: 0.3s;
}
.tabcontent button:hover {
  background-color: #662fad;
}
@media (min-width:270px) and (max-width:440px){
  .typing-demo{
    font-size:1.5rem;
  }
}
@media (max-width:270px){
  .typing-demo{
    font-size:.8rem;
  }
}

.footer {
  background-color: #121212;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.grid-item {
  text-align: center;
  padding: 2rem;
}
.grid-item-photo {
  text-align: center;
}